/* @media screen  (max-width: 991px){ 
    
} */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: "IBM Plex Sans Arabic", sans-serif;
}


nav {
   backdrop-filter: blur(10px);
}
.my-custom {
    margin-top: 10%;
}
.text-pro-nav {
    font-size: 1rem;
    font-weight: 600;
 color: black;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
.btn-custom {
    background-color: #4e3797;
    color: #57e3d8;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    
}
.btn-custom:hover {
    background-color: #4e3797;
    color: #57e3d8;
}

/* 

*/

.custom-video-container {
    background-color: #d3d3d3;
    border-radius: 0.75rem;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-video-container video {
    object-fit: cover;
    width: 100%;
    border-radius: 0.75rem;
}

.custom-card {
    position: relative;
    border-radius: 0.75rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.custom-card svg {
    position: absolute;
}

.custom-card h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.custom-card h6 {
    color: #9c9c9c;
    font-weight: 300;
    font-size: 1.125rem;
}

.custom-card span {
    font-size: 1.875rem;
    font-weight: 600;
}

.card-bg1 {
    background-color: #d3f5d5;
    
}

.card-bg2 {
    background-color: #bed9ff;
   
}

.card-bg3 {
    background-color: #e7ddff;
   
}

.card-bg1 svg {
    
    color: #8fd393;
}

.card-bg2 svg {
    
    color: #5c90d8;
}

.card-bg3 svg {
    
    color: #6433d3;
}


/* hh */

.rounded-xl {
    border-radius: 1rem;
  }
  .stat-card {
    padding: 2rem;
    position: relative;
    overflow: hidden;
  }
  .stat-card h1 {
    font-size: 1.5rem;
  }
  .stat-card h6 {
    color: #9c9c9c;
  }
  .stat-card svg {
    position: absolute;
    bottom: 0;
    left: 0;}
    .font-weight {
        font-weight: 1000;
    }
/*  footer */

.bg-light-purple {
    background-color: #e7b6f2;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.a-style-purple {
    color: #4e3797;
}
 
.a-style-purple:hover{
    color: #ffffff !important;
    
}

 

 /* The entire scrollbar */
::-webkit-scrollbar {
    width: 15px;  
    height: 12px;  }

/* The scrollbar track (background) */
::-webkit-scrollbar-track {
    background: #f1f1f1;  
}

/* The scrollbar handle (draggable part) */
::-webkit-scrollbar-thumb {
    background:  #e7b6f2;  
    border-radius: 10px;  
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
    background:  #d07be3; 
}
 
@media only screen and (max-width: 600px) {
    
  }