@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: "IBM Plex Sans Arabic", sans-serif;
}

.video-background-holder {
    position: relative;
    
    height: 100vh;  
    width: 100%;
    overflow: hidden;
}
 
.video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0; 
    transform: translateX(-50%) translateY(-50%);
}

ul li a {
    position: relative;  
    color: white;  
    transition: color 0.3s ease;  
}

ul li a:hover {
    color: #6ddccf;
    z-index: 3;
}

.video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;  
    background-image: linear-gradient(rgba(158, 43, 169, 0.5), rgba(25, 85, 196, 0.5));
}

.navbar {
    z-index: 3; 
}

.bg-transparent {
    background-color: transparent !important;
}
.video-background-content {
    position: relative;
    z-index: 2;
}

 
.border_frist {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 15px #BEE5C2;
    border-style: none solid none none;
    border-radius: 15px}
    .card_info {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-top: 3em;}
        .border_second {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border: 15px skyblue;
            border-style: none solid none none;
            border-radius: 15px}

            .sub_content {
                display: flex;
                align-items: center;
                gap: .5em;
            }
        .card-button {
            width: 8vw;
            height: 5vh;
          border-radius: 30px;
            border: 2px solid skyblue;
            background-color: white;
            color: skyblue;
        }
        .card-button-frist {
            width: 8vw;
            height: 5vh;
          border-radius: 30px;
            border: 2px solid #BEE5C2;
            background-color: white;
            color:  #BEE5C2;
        }

.text-custom {
    color: #4e3797;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
.text-custom-secondray{
    color: #91d8db;
    font-size: 1.5rem;
    font-weight: 700;
    
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
.text-number-custom-secondray{
    font-size: 1.5rem;
    font-weight: 700;
    color: #4e3797;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}

.font-custom {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    
}
.bg-secondary-custom {
    background-color: #91d8db;
}
 
.shadow-custom {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 8%;
}
.custom-button-outline {
    background-color: transparent;
    border: 2px solid  #4e3797; 
    color: #4e3797; 
   padding: 0.5%;
    width: 30vw;
}
.custom-button-outline:hover {
    background-color:  #4e3797;
    border: 2px solid  #4e3797;  
    color: #ffffff; 
   
    width: 30vw;
}
.bg-purple {
    background-color:  #4e3797;
}
.btn-custom {
    background-color: #4e3797;
    color: #ffffff;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    
}
.btn-custom:hover {
    background-color: #fff;
    color: #4e3797;
    border: 1px solid #4e3797;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    
}
.bg-secondry {
    background-color: #91d8db;
    color: #fff;
}

.icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 90%; 
    height: 90%;  
    padding: 2%;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    color: #4e3797;  
}
.icon-wrapper svg {
    width: 20px;  
    height: 20px;  
}
.icon-wrapper {
    transition: transform 300ms ease-in-out;
}

.icon-wrapper:hover {
    transform: scale(1.25);
}
/*  */
.btn-custom-header{
    text-align: center;
    color: white;
    background-color: #5bbec1e5;
    font-size: 2rem;
    font-weight: 700;
    height: 2em;
    width: 15em;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-custom-header:hover{
    background-color: #5bbec18e;
    
}
.header-text{
    color: white;
    font-size: 6rem;
    font-weight: 700;
    font-family: "IBM Plex Sans Arabic", sans-serif;
 
   
    
}